{# backend/app/templates/pages/demo/rendering/client-side.jinja #}

{% extends "layouts/client.jinja" %}

{% block title %}
  Client-Side Rendering Demo
{% endblock title %}

{% block description -%}
  A demonstration of a client-side rendering route.
{%- endblock description %}
