{# backend/app/templates/layouts/client.jinja #}

{% extends "layouts/base.jinja" %}

{% block head %}

  {% include "partials/head-client.jinja" %}

{% endblock head %}

{% block body %}

  {% include "partials/body-client.jinja" %}

{% endblock body %}
