{# backend/app/templates/pages/api-status.jinja #}

{% extends "layouts/client.jinja" %}

{% block title %}
  API Status
{% endblock title %}

{% block description -%}
  A client-side rendered page that used `fetch()` and the app API to report the API system status.
{%- endblock description %}
