{# backend/app/templates/pages/home.jinja #}

{% extends "layouts/client.jinja" %}

{% block title %}
  Home
{% endblock title %}

{% block description -%}
  The DevStrap home page.
{%- endblock description %}
