{# backend/app/templates/errors/no-direct-access.jinja #}

{% extends "layouts/server.jinja" %}

{% block title %}
  No Direct Access
{% endblock title %}

{% block description -%}
  This route is not directly accessible.
{%- endblock description %}

{% block body %}
  <div class="bg-stone-300 min-h-screen flex flex-col items-center justify-center p-10">
    <div class="p-6 rounded-lg bg-red-200 space-y-6 flex flex-col items-center justify-center">
      <h1 class="text-3xl font-bold text-red-700">
        No Direct Access
      </h1>
      <p class="text-red-700 text-xl">
        This route cannot be directly accessed, try a child route.
      </p>
      <p class="text-red-700 text-lg">
        (HINT: try a child route.)
      </p>
    </div>
  </div>
{% endblock body %}